<ul class="acc">
	<li class="acc__item">
		<h3 class="acc__toggle" data-hook="acc-toggle">Resume</h3>
		<div class="acc__content" data-hook="acc-content">
			<p>Eu a eros interdum penatibus condimentum diam iaculis nam dis id magna interdum mattis vestibulum rhoncus a vitae congue a fusce parturient platea ante fusce nunc habitasse purus. Ridiculus a hac turpis a ut sodales per a fusce duis a dictumst est magnis tortor non a lacinia. Aenean erat ultricies a a id nullam a mus in ad eget a tempor dignissim a consectetur suspendisse dis primis maecenas maecenas malesuada. Eu viverra vestibulum ac nascetur suspendisse auctor parturient parturient et condimentum condimentum parturient ut urna. Adipiscing adipiscing pulvinar non sem ut ullamcorper adipiscing class vivamus parturient a a placerat vestibulum eros primis ipsum libero a a adipiscing risus orci orci cum aptent. Ut nascetur consectetur justo habitasse dictumst auctor cum adipiscing quam id hendrerit id pharetra penatibus scelerisque nisl lacinia dapibus duis.</p>
		</div>
	</li>
	<li class="acc__item">
		<h3 class="acc__toggle" data-hook="acc-toggle">Bio</h3>
		<div class="acc__content" data-hook="acc-content">
			<p>Eu a eros interdum penatibus condimentum diam iaculis nam dis id magna interdum mattis vestibulum rhoncus a vitae congue a fusce parturient platea ante fusce nunc habitasse purus. Ridiculus a hac turpis a ut sodales per a fusce duis a dictumst est magnis tortor non a lacinia. Aenean erat ultricies a a id nullam a mus in ad eget a tempor dignissim a consectetur suspendisse dis primis maecenas maecenas malesuada. Eu viverra vestibulum ac nascetur suspendisse auctor parturient parturient et condimentum condimentum parturient ut urna. Adipiscing adipiscing pulvinar non sem ut ullamcorper adipiscing class vivamus parturient a a placerat vestibulum eros primis ipsum libero a a adipiscing risus orci orci cum aptent. Ut nascetur consectetur justo habitasse dictumst auctor cum adipiscing quam id hendrerit id pharetra penatibus scelerisque nisl lacinia dapibus duis.</p>
		</div>
	</li>
</ul>

<ul class="social grid grid--center">
	<li class="grid__cell--1/5"><a href="#" class="icon--only social--disc">&#xe900;</a></li>
	<li class="grid__cell--1/5"><a href="#" class="icon--only social--disc">&#xe904;</a></li>
	<li class="grid__cell--1/5"><a href="#" class="icon--only social--disc">&#xe903;</a></li>
	<li class="grid__cell--1/5"><a href="#" class="icon--only social--disc">&#xe902;</a></li>
	<li class="grid__cell--1/5"><a href="#" class="icon--only social--disc">&#xe901;</a></li>
</ul>
