<ul class="acc">
	<li class="acc__item">
		<h3 class="acc__toggle" data-hook="acc-toggle">Resume</h3>
		<div class="acc__content" data-hook="acc-content">
			<p>Eu a eros interdum penatibus condimentum diam iaculis nam dis id magna interdum mattis vestibulum rhoncus a vitae congue a fusce parturient platea ante fusce nunc habitasse purus. Ridiculus a hac turpis a ut sodales per a fusce duis a dictumst est magnis tortor non a lacinia. Aenean erat ultricies a a id nullam a mus in ad eget a tempor dignissim a consectetur suspendisse dis primis maecenas maecenas malesuada. Eu viverra vestibulum ac nascetur suspendisse auctor parturient parturient et condimentum condimentum parturient ut urna. Adipiscing adipiscing pulvinar non sem ut ullamcorper adipiscing class vivamus parturient a a placerat vestibulum eros primis ipsum libero a a adipiscing risus orci orci cum aptent. Ut nascetur consectetur justo habitasse dictumst auctor cum adipiscing quam id hendrerit id pharetra penatibus scelerisque nisl lacinia dapibus duis.</p>
		</div>
	</li>
	<li class="acc__item">
		<h3 class="acc__toggle" data-hook="acc-toggle">Bio</h3>
		<div class="acc__content" data-hook="acc-content">
			<h4>Josh A. Weston - Artist/Designer/Blacksmith</h4>
			<p>I have been called a "Renaissance" man by several of my clients through the years, not just because I frequent the ren fairs, but because I am skilled in many creative disciplines. My skills range from traditional art to modern technical design and back to blacksmithing (I love the Viking period). </p>
			<p>I started my career working primarily for low budget clients and non-profit organizations but have since worked my way into designing for some rather large companies like GM, Proctor & Gamble, Camel Tobacco, Natural American Spirit, Warner Bros., Harry Potter and Coca-Cola. I have ventured in and out of running my own company, working on in-house design teams (Spartan Chassis) and large agencies (MS&L and BFG). I continue to find pleasure in design and creativity and my skill set continues to grow.</p>
			<p>I am a prolific illustrator and graphic/web designer but I don’t stop there. I dabble in 3D design (on and off the computer), strategy, gaming and carving (I don’t have to photoshop wood block prints). I very much enjoy hand-making things like board games, skateboards, armor, axes and swords (my favorite). </p>
		</div>
	</li>
</ul>

<ul class="social grid grid--center">
	<li class="grid__cell--1/5"><a href="#" class="icon--only social--disc">&#xe900;</a></li>
	<li class="grid__cell--1/5"><a href="#" class="icon--only social--disc">&#xe904;</a></li>
	<li class="grid__cell--1/5"><a href="#" class="icon--only social--disc">&#xe903;</a></li>
	<li class="grid__cell--1/5"><a href="#" class="icon--only social--disc">&#xe902;</a></li>
	<li class="grid__cell--1/5"><a href="#" class="icon--only social--disc">&#xe901;</a></li>
</ul>
