<ul class="acc">
    <li class="acc__item">
        <h3 class="acc__toggle" data-hook="acc-toggle">Bio</h3>
        <div class="acc__content" data-hook="acc-content">
            <h4>Josh A. Weston - Artist/Designer/Blacksmith</h4>
            <p>I have been called a "Renaissance" man by several of my clients through the years, not just because I frequent the ren fairs, but because I am skilled in many creative disciplines. My skills range from traditional art to modern technical design and back to blacksmithing (I love the Viking period). </p>
            <p>I started my career working primarily for low budget clients and non-profit organizations but have since worked my way into designing for some rather large companies like GM, Proctor & Gamble, Camel Tobacco, Natural American Spirit, Warner Bros., Harry Potter and Coca-Cola. I have ventured in and out of running my own company, working on in-house design teams (Spartan Chassis) and large agencies (MS&L and BFG). I continue to find pleasure in design and creativity and my skill set continues to grow.</p>
            <p>I am a prolific illustrator and graphic/web designer but I don’t stop there. I dabble in 3D design (on and off the computer), strategy, gaming and carving (I don’t have to photoshop wood block prints). I very much enjoy hand-making things like board games, skateboards, armor, axes and swords (my favorite). </p>
        </div>
    </li>
    <li class="acc__item">
        <h3 class="acc__toggle"><a href="https://www.etsy.com/shop/thepxsmith">Store</a></h3>
    </li>
    <li class="acc__item">
        <h3 class="acc__toggle" data-hook="acc-toggle"><a href="https://dl.dropboxusercontent.com/u/659353/josh_weston_resume.pdf">Resume</a></h3>
    </li>
</ul>

<ul class="social grid grid--center">
    <li class="grid__cell--1/4"><a href="http://rashystreakers.tumblr.com/tagged/thepxsmith" class="icon--only social--disc">&#xe903;</a></li>
    <li class="grid__cell--1/4"><a href="https://www.facebook.com/thepxsmith" class="icon--only social--disc">&#xe901;</a></li>
    <li class="grid__cell--1/4"><a href="https://www.instagram.com/joshaweston/" class="icon--only social--disc">&#xe905;</a></li>
    <li class="grid__cell--1/4"><a href="https://www.linkedin.com/in/joshaweston" class="icon--only social--disc">&#xe904;</a></li>
</ul>
