<ul class="social grid grid--center">
	<li class="grid__cell--1/5"><a href="#" class="icon--only social--disc">&#xe900;</a></li>
	<li class="grid__cell--1/5"><a href="#" class="icon--only social--disc">&#xe904;</a></li>
	<li class="grid__cell--1/5"><a href="#" class="icon--only social--disc">&#xe903;</a></li>
	<li class="grid__cell--1/5"><a href="#" class="icon--only social--disc">&#xe902;</a></li>
	<li class="grid__cell--1/5"><a href="#" class="icon--only social--disc">&#xe901;</a></li>
</ul>
