<header role="banner">
	<h1 class="grid grid--no-gutter grid--center grid--logo">
		<span class="grid__cell--icon"><img src="img/logo-icon.png"></span>
		<span class="grid__cell--title"><img src="img/the-pixelsmith.png"></span>
	</h1>
</header>

<button type="button" data-hook="show-px" class="btn btn--arrow btn--arrow--left">px</button>
<button type="button" data-hook="show-smith" class="btn btn--arrow btn--arrow--right">smith</button>

<button type="button" data-hook="back-to-landing" class="btn btn--back">Back</button>