<main role="main">
	<section class="landing" data-hook="panel-landing">
	</section>
	<section class="panel panel--px" data-hook="panel-px">
	</section>
	<section class="panel panel--smith" data-hook="panel-smith">
	</section>
</main>