body {
	font: 300 16px/1.25 "San Francisco", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	overflow-x: hidden;
	background: #171615;
	color: #f7f1e3;
}

img {
	max-width: 100%;
	height: auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "petyka_-_retro_computer___sRg", "San Francisco", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}