@font-face {
    font-family: "petyka_-_retro_computer___sRg";
    src: url("../fonts/petyka_-_retro_computer___short-webfont.eot");
    src: url("../fonts/petyka_-_retro_computer___short-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/petyka_-_retro_computer___short-webfont.woff") format("woff"),
         url("../fonts/petyka_-_retro_computer___short-webfont.svg#petyka_-_retro_computer___sRg") format("svg");
    font-weight: normal;
    font-style: normal;
}