[role="banner"] {
	max-width: 30em;
	margin: 0.75rem auto 0 auto;
	padding: 0 0.75rem;
	transition: opacity 0.75s ease;
}
.is-px [role="banner"],
.is-smith [role="banner"] {
	opacity: 0.1;
}
.grid--logo {
	margin: 0;
	position: relative;
	z-index: 2;
	cursor: pointer;
}
.grid__cell--icon {
	width: 10.1724138%;
	margin-left: 0;
}
.grid__cell--title {
	width: 88.2758621%;
	margin-left: 1.5517241% !important;
}
