.btn {
    border: 0;
    background: none;
}
.btn--arrow {
    width: 10%;
    height: 8em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-indent: -1000em;
}
.is-px .btn--arrow,
.is-smith .btn--arrow {
    display: none;
}
.btn--arrow--left {
    background-image: url(../img/arrow-left.png);
    left: 0.75rem;
}
.btn--arrow--right {
    background-image: url(../img/arrow-right.png);
    right: 0.75rem;
}
.btn--close {
    font: 2em "petyka_-_retro_computer___sRg", "San Francisco", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    top: 0.25em;
    right: 0.25em;
    background-color: transparent;
    border: 0;
    text-shadow: 1px 1px 3px #000;
    padding: 0;
}