.drawer {
    background-color: #df0d5c;
    max-width: 30em;
    margin: -5em auto 0;
    padding: 5em 1em 0.5em;
    transform: translateY(-100%);
    transition: transform 0.75s ease-out;
    position: relative;
    z-index: 1;
}
.drawer.is-open {
    transform: translateY(0);
}
.drawer a {
    color: #f7f1e3;
}

.acc__toggle {
    text-align: center;
    cursor: pointer;
}
.acc__content {
    background-color: #f7f1e3;
    color: #171615;
    font-size: 0.75em;
    padding: 1em;
}

.social {
    margin-top: 0;
    margin-bottom: 0;
}
.social li {
    text-align: center !important;
}
.social--disc {
    text-decoration: none;
    font-size: 24px;
    display: inline-block;
    border: 2px solid;
    padding: 0.333333333em;
    border-radius: 50%;
}