.panel {
    width: 50%;
    padding: 1em;
    box-sizing: border-box;
    float: left;
    height: 100vh;
    overflow-y: auto;
}
.panel--px {
    padding-right: 10%;
    background: url(../img/panel-px.png) 50% 100% / contain repeat-x #a9a69b ;
    color: #0098b3;
}
.panel--smith {
    padding-left: 10%;
    background: url(../img/panel-smith.png) 50% 100% / contain repeat-x #2d2a28;
    color: #faca30;
}

.landing {
    position: absolute;
    width: 50%;
    height: 100vh;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: url(../img/josh.png) 50% 100% no-repeat;
    background-size: contain;
}
[role="main"]:not(.is-px):not(.is-smith) .landing {
    z-index: 1;
}

.landing .btn--back {
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: 20%;
    text-indent: -1000em;
    overflow: hidden;
    background-color: transparent;
}
.is-px .landing .btn--back {
    display: block;
    right: 50%;
}
.is-smith .landing .btn--back {
    display: block;
    left: 50%;
}