.panel {
    width: 50%;
    padding: 1em;
    box-sizing: border-box;
    float: left;
    height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.overlay.is-visible + [role="main"] .panel {
    -webkit-overflow-scrolling: auto;
}
.panel--px {
    padding-right: 10%;
    background: url(../img/panel-px.png) 50% 100% / contain repeat-x #a9a69b ;
}
.panel--px .tag__title,
.panel--px a {
    color: #0098b3;
}
.panel--smith {
    padding-left: 10%;
    background: url(../img/panel-smith.png) 50% 100% / contain repeat-x #2d2a28;
}
.panel--smith .tag__title,
.panel--smith a {
    color: #faca30;
}

.landing {
    position: absolute;
    width: 50%;
    height: 95vh;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: url(../img/josh.png) 50% 100% no-repeat;
    background-size: contain;
    z-index: 1;
}
.is-px .landing,
.is-smith .landing {
    pointer-events: none;
}

.landing .btn--back {
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: 20%;
    text-indent: -1000em;
    overflow: hidden;
    background-color: transparent;
    pointer-events: auto;
}
.is-px .landing .btn--back {
    display: block;
    right: 50%;
}
.is-smith .landing .btn--back {
    display: block;
    left: 50%;
}