.post--small {
    margin-bottom: 2.5%;
}
.post__photo {
    width: 100%;
    padding-top: 100%;
    border: 5px solid #575755;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    text-indent: -1000em;
    line-height: 0;
}