@import	url("../../node_modules/normalize.css/normalize.css");

body {
	overflow-x: hidden;
}

[role="main"] {
	width: 200%;
	transform: translateX(-25%);
	transition: transform 0.75s ease;
}
[role="main"].is-px {
	transform: translateX(0);
}
[role="main"].is-smith {
	transform: translateX(-50%);
}

.panel {
	width: 50%;
	float: left;
}
.panel--px {
	background: gray;
}
.panel--smith {
	background: red;
}

.landing {
	position: absolute;
	width: 50%;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(0, 0, 0, 0.3);
}