<h2 class="tag__title">{{categoryTitle}}</h2>
<p class="tag__caption">{{{categoryCaption}}}</p>
<ul data-hook="posts-list" class="grid tag__posts">
    <li data-hook="loading"><img src="img/loading.gif" alt="Loading"></li>
</ul>